[Unit]
Description=RabbitMQ Prometheus Exporter
After=network.target

[Service]
EnvironmentFile={{ rabbitmq_exporter_install_dir }}/rmq_env.vars
Type=simple

User={{ rabbitmq_exporter_user }}
Group={{ rabbitmq_exporter_group }}

ExecStart={{ rabbitmq_exporter_install_dir }}/rabbitmq_exporter-{{ rabbitmq_exporter_version }}.linux-amd64/rabbitmq_exporter